.PlayerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    width: 200px;
    background-color: rgb(255, 249, 240);
    text-align: center;
    padding-bottom: 5px;
	
}

.PlayerCard img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.PlayerCard h4{
    margin: 3px;
}
.PlayerCard span{
    margin-bottom: 5px;
}


@media screen and (max-width : 600px) {
    .PlayerCard{
        width: 100px;
        font-size: 10px;
    }
    
}