.TennisPlayer {
    height: 100%;
    min-height: calc(100vh - 100px);
    padding-top: 200px;
    padding-bottom: 20px;
    box-sizing: border-box;
    background-image: url(../../../Assets//Images/grass-court.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

.TennisPlayerContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    color: whitesmoke;
    font-weight: bold;
    background-image: url(../../../Assets//Images/dark-tennis4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.TennisPlayer .PlayerImageDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.TennisPlayer .FlagImage {
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 90px;
    width: 100px;
    height: 100px;
}

.TennisPlayer .PlayerImage {
    max-width: 300px;
}

.TennisPlayer .PlayerInfo {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(13, 128, 228, 0.099);
}

.PlayerInfo h1 {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-align: center;


}

.PlayerInfo>div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 7px;
    align-items: center;
}

.PlayerInfo :nth-child(1) {
    border-top-left-radius: 8px;
}

.PlayerInfo :nth-child(8) {
    border-bottom-left-radius: 8px;
}

.Age span {
    font-size: 1rem;
}

.Age {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.Age h2 {
    font-size: 1.8rem;
    color: rgb(187, 187, 187);
    text-align: center;
}

.TennisPlayer .Rank {
    grid-column: span 2;
}

@media screen and (max-width: 600px) {
    .TennisPlayerContainer {
        width: 90%;
    }

    .PlayerImage {
        width: 100%;
    }

    .Age span {
        font-size: 15px;
        text-align: center;
    }

    .TennisPlayer .FlagImage {
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translate(-50%);
    }

    .Age h2 {
        font-size: 13px;
        text-align: center;
    }

    .PlayerInfo .middle {
        margin: auto;
    }

    .TennisPlayer {
        padding-top: 100px;
    }
}