.AtpRankings {
    background-image: url(../../../Assets//Images/clay-court.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 50px);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.AtpRankings button {
    cursor: pointer;
    background-color: rgb(130, 4, 130);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px;
}

.AtpTable tr:nth-child(odd) {
    background-color: rgb(173, 230, 185);
}

.AtpTable tr:nth-child(even) {
    background-color: white;
}

.AtpTable td:nth-child(1),
.AtpTable th:nth-child(1) {
    border-right: 1px solid;
}

.AtpTable {
    box-sizing: border-box;
    font-weight: bold;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    max-width: 80%;
    border: 2px solid;
    font-size: larger;
    margin-top: 74.5px;
}

.AtpTable tr,
.AtpTable td,
.AtpTable th {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid;
}

.AtpTable th {
    background-color: aliceblue;
}

.AtpTable tr:hover {
    background-color: lightgoldenrodyellow;
}

.AtpTable tr:last-child td {
    text-align: start;
    background-color: aliceblue;
}

.AtpTable tr:last-child tr:hover {
    background-color: transparent;
}

.AtpTable .RankingsController {
    margin-right: 20px;
    background-color: transparent;
    border-radius: 30px;
    padding: 5px;
    color: black;
}

@media screen and (max-width: 600px) {
    .AtpTable {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    .AtpTable {
        font-size: 13px;
    }
}