.LeaguesTables {
    padding-top: 74.5px;
    box-sizing: border-box;
    padding-bottom: 20px;
    min-height: calc(100vh - 100px);
    background-image: url("../../../../Assets/Images/football-pitch.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.LeaguesTables .SeasonPicker {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.LeaguesTables select {
    margin: 5px;
}


.LeaguesTables table {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: large;
    max-width: 80%;
    background-color: white;
}

.LeaguesTable tr,
.LeaguesTable td,
.LeaguesTable th {
    border: 1px solid;
    border-collapse: collapse;
    max-height: 50px;
    padding: 5px;
    min-width: 10px;
}

.LeaguesTable th {
    background-color: aliceblue;
}


.LeaguesTable img {
    width: 30px;

}

.LeaguesTable .Club {
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    gap: 10px;
    padding-right: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.LeaguesTable tr:hover {
    background-color: lightgoldenrodyellow;
}

.LeaguesTable .Rank {
    border: 1px solid;
}


@media screen and (max-width: 600px) {
    .LeaguesTables .LeaguesTable {
        font-size: 10px;
    }

    .LeaguesTable img {
        width: 20px;
    }

    .LeaguesTable td {
        max-width: 50px;
    }

}