.Home {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
    /* height: 100%; */
    background-color: aliceblue;
    /* margin-top: -50px; */
}

/* .Home img {
    width: 300px;
} */

.Home .federer{
    width: 270px;
}

.Home .roy{
    width: 440px;
}

.Home .rashford{
    width: 220px;
}

.Home .lebron{
    width: 440px;
}

.Div1, .Div2{
    display: flex;
    justify-content: center;
    align-items: center;

}

