.TeamMorInfoList {
    min-height: calc(100vh - 50px);
    padding-top: 100px;
    box-sizing: border-box;

}

.TeamMorInfoList .Players {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.TeamMorInfoList .ManagerAndLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 100px;
}

.TeamMorInfoList .Logo img {
    width: 220px;

}

@media screen and (max-width : 600px) {
    .TeamMorInfoList .Logo img {
        width: 120px;

    }

}