.Menu {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;

}

.Menu a {
    text-decoration: none;
    color: whitesmoke;
}


.Icons {
    position: relative;
    top: 2px;
}

.Menu img {
    width: 15px;
}

.FootballLi {
    width: max-content;

}

nav {
    background-color: #122331;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;

}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    list-style: none;

}

.MainLi {
    width: max-content;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items li {
    padding: 0.5rem 1rem;
    transition: background 0.5s ease-in-out;
}

.menu-items li:hover {
    background-color: rgb(21, 107, 94);
}


/* dropdown */
.FootballLi,
.TennisLi {
    position: relative;
}

.FootballDropdownMenu,
.TennisDropDown {
    position: absolute;
    background: #122331;
    width: max-content;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.3s;
    z-index: 10;

}

.FootballDropdownMenu li,
.TennisDropDown li {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.SubDropDownMenu {
    position: absolute;
    left: 117px;
    background-color: rgb(113, 113, 113);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 10;

}

.SubDropDownMenu li {
    min-width: max-content;
    max-width: 100;
}

.CountryLi {
    position: relative;
}


@media screen and (max-width: 600px) {
    .Menu {
        font-size: 70%;
    }
    .Menu .SubDropDownMenu{
        left: 96px;
    }

}
