.LiveScores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    min-height: calc(100vh - 50px);
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.TennisLiveScoreTable {
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    margin: 0;
}

.TennisLiveScoreTable:hover {
    background-color: rgba(241, 255, 189, 0.305);
    cursor: pointer;

}

.TennisLiveScoreTable th {
    height: 50px;

}

.TennisLiveScoreTable td,
.TennisLiveScoreTable tr, 
.TennisLiveScoreTable th {
    border: 1px solid;
    padding: 3px;
    box-sizing: border-box;

}

.TennisLiveScoreTable td:nth-child(1) {
    border: none;
    text-align: left;
    background-color: aliceblue;
    padding-left: 10px;
}

.TennisLiveScoreTable .Doubles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    height: 100%;
    box-sizing: border-box;
    width: 100%;

}

.TennisLiveScoreTable td:nth-child(2) {
    background-color: rgb(222, 222, 222);
}

.TennisLiveScoreTable td {
    min-width: 50px;
    min-height: 70px;
}


.PopUp {
    height: 400px;
    background-color: aliceblue;
    border: 5px solid black;
    z-index: 10;
    position:fixed;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.Overlay {
    height: 100vh;
    background-color: rgba(119, 136, 153, 0.585);
    z-index: 1;
    width: 100%;
    position:fixed;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}

.NoScroll {
    height: 100vh;    
}

@media screen and (max-width: 600px) {
    .LiveScores{
        /* flex-direction: column; */
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }


    .TennisLiveScoreTable{
        width: 80%;
        height: 150px;
        font-size: 80%;
        /* margin: 0; */
        margin-top: 0;
        margin-bottom: 0;

    }

    .LiveScores img {
        width: 10px;
    }

    .LiveScores .Spinner {
        width: 150px;
    }

    .TennisLiveScoreTable td {
        width: max-content;
        min-width: 30px;
        /* min-height: 70px; */
    }

    .LiveScores th{
        height: auto;
    }
    
}

