html,
body,
#root {
    min-height: 100vh;
    width: 100%;
    /* background-color: beige; */
    /* text-align: center; */
    /* background-color: rgb(242, 251, 254); */
    /* background-attachment: fixed;
     */
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */


}

body {
    background-color: rgb(71, 53, 53);
}



* {
    margin: 0;
    padding: 0;

}



.spinner {
    width: 200px;

}

#spinnerDiv {
    justify-content: center;
    display: none;
}





/* .BufferDiv{
    height: 75px;
} */

tr {
    border: 1px solid;
    border-collapse: collapse;
}